<div class="book">
    <div class="book-cover">

    </div>
    <div class="book-info">
        <div class="book-name" [title]="book.title">
            <span>
                {{book.title}}
            </span>
        </div>
        <div class="book-dropdown">
            <m-dropdown icon="ph-dots-three-circle-vertical" [template]="bookDropdown" dropdownPosition="bottom-left"></m-dropdown>
            <ng-template #bookDropdown>
                hi
            </ng-template>
        </div>
    </div>
</div>
