.companion {
    height: 100%;
    width: 100%;
    background: var(--background-0);
    color: var(--foreground-0);

    column-gap: var(--sidebar-right-padding);
}

.sidebar-container {

    width: 64px;
    padding-top: var(--sidebar-top-padding);
    padding-bottom: var(--sidebar-bottom-padding);

    padding-left: var(--sidebar-left-padding);
}

.content-container {
    padding: var(--content-top-padding) var(--content-right-padding) var(--content-bottom-padding) 0;
    width: 100%;
}
