.companion-input {
    border: var(--border);
    border-radius: var(--border-radius);
    background: var(--background-1);
    height: 38px;
    color: var(--foreground-0);
    padding: 0 1rem;
}

.companion-input:focus{
    outline: none;
}

.companion-input.ng-dirty.ng-invalid {
    border-color: var(--red);
}
