.sidebar-container {
    height: 100%;
    display: flex;
}

.sidebar {
    flex-grow: 1;
    background: var(--background-1);

    border: var(--border);
    border-radius: var(--border-radius);
    align-items: center;

    padding: 1rem 0;
}

.bottom {
    margin-top: auto;
    margin-bottom: 0;
}

.new-theme-form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.form-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.form-bordered {
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
}

.file-drop-container {
    width: 200px;
    height: 250px;
    padding: 0.5rem;
}

#drop-zone {
    cursor: pointer;
    border-radius: var(--border-radius);
    height: 100%;
    border: var(--border);
    border-style: dashed;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;

    & i {
        font-size: 1.5rem;
    }

    &.drag-over {
        border-style: solid;
    }
}
