<div #sidebar (window:resize)="handleResize()" class="sidebar-container">
    <div class="sidebar d-flex f-column row-gap-1">
        <div class="top d-flex f-column row-gap-1">
            <button mButton [icon]="homeIcon" title="home" routerLink="dashboard">
            </button>
            <button mButton icon="ph-book" title="books" routerLink="books">
            </button>
        </div>
        <div class="bottom d-flex f-column row-gap-1">
            <m-dropdown icon="ph-plus" title="add new" dropdownPosition="right-top">
                <div class="file-drop-container">
                    <div id="drop-zone"
                         [ngClass]="{'drag-over': draggingOver}"
                         (drop)="handleFileDrop($event)"
                         (dragenter)="handleDragEnter()"
                         (dragleave)="handleDragLeave()"
                         (click)="fileInput.click()">
                        <div class="upload-list" *ngIf="uploading">
                            <span *ngFor="let upload of uploads | keyvalue">
                                {{ upload.key }}
                            </span>
                        </div>
                        <ng-container *ngIf="!uploading">
<!--                            <i class="ph ph-upload"></i>-->
<!--                            <span>Drag books</span>-->
                            <span>Click here</span>
                        </ng-container>
                        <input #fileInput type="file" accept=".epub" multiple="multiple" style="opacity: 0" (change)="handleFileUpload($event)" hidden>
                    </div>
                </div>
            </m-dropdown>
            <m-dropdown icon="ph-sun" title="theme" dropdownPosition="right-top">
                @if (themes != null) {
                    @for (theme of themes.data; track theme) {
                        <button mButton text="{{theme.name}}" (click)="handleThemeSelect(theme)"></button>
                    }
                }
            </m-dropdown>
        </div>
    </div>
</div>
