<div #dropdown class="dropdown" [ngClass]="{down: isDropdownDown}">
    <button id="123" #button mButton [icon]="icon" [iconPos]="iconPos" [color]="color" (click)="handleDropdownClick()">
        {{text}}
        <ng-container *ngIf="showDropdownCaret">
            <i *ngIf="!isDropdownDown" class="ph ph-caret-right"></i>
            <i *ngIf="isDropdownDown && (dropdownPosition == 'top-left' || dropdownPosition == 'top-right')" class="ph ph-caret-up"></i>
            <i *ngIf="isDropdownDown && (dropdownPosition == 'bottom-left' || dropdownPosition == 'bottom-right')" class="ph ph-caret-down"></i>
        </ng-container>
    </button>
    <div #split class="dropdown-split" [ngClass]="{hidden: !isDropdownDown}"></div>
</div>

