.dropdown {
    position: relative;
}

.dropdown-container {
    position: absolute;
    z-index: 1;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    height: fit-content;
    width: fit-content;
    min-height: 100px;
    min-width: 100px;
    background: var(--background-1);
    border: var(--border);
    border-radius: var(--border-radius);
}

.dropdown-split {
    z-index: 2;
    position: absolute;
}

.down[class*="top-"] {
    button {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}

.down[class*="bottom-"] {
    button {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.down[class*="left-"] {
    button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.down[class*="right-"] {
    button {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

.dropdown[class*="top-"] {
    .dropdown-container {
        bottom: 37px;
    }

    .dropdown-split {
        width: var(--thick);
        height: 1px;
        top: 0;
        left: 1px;
        background: var(--background-3);
    }
}

.dropdown[class*="bottom-"] {
    .dropdown-container {
        top: 37px;
    }

    .dropdown-split {
        width: var(--thick);
        height: 1px;
        bottom: 0;
        left: 1px;
        background: var(--background-3);
    }
}

.dropdown[class*="left-"] {
    .dropdown-container {
        right: 37px;
    }

    .dropdown-split {
        height: 36px;
        width: 1px;
        left: 0;
        top: 1px;
        background: var(--background-3);
    }
}

.dropdown[class*="right-"] {
    .dropdown-container {
        left: 37px;
    }

    .dropdown-split {
        height: 36px;
        width: 1px;
        right: 0;
        top: 1px;
        background: var(--background-3);
    }
}

.dropdown[class*="-top"] {
    .dropdown-container {
        bottom: 0;
    }
}

.dropdown[class*="-bottom"] {
    .dropdown-container {
        top: 0;
    }
}

.dropdown[class*="-left"] {
    .dropdown-container {
        right: 0;
    }
}

.dropdown[class*="-right"] {
    .dropdown-container {
        left: 0;
    }
}

.top-left {
    .dropdown-container {
        border-bottom-right-radius: 0;
    }
}

.bottom-left {
    .dropdown-container {
        border-top-right-radius: 0
    }
}

.top-right {
    .dropdown-container {
        border-bottom-left-radius: 0;
    }
}

.bottom-right {
    .dropdown-container {
        border-top-left-radius: 0;
    }
}

.left-top {
    .dropdown-container {
        border-bottom-right-radius: 0;
    }
}

.left-bottom {
    .dropdown-container {
        border-top-right-radius: 0;
    }
}

.right-top {
    .dropdown-container {
        border-bottom-left-radius: 0;
    }
}

.right-bottom {
    .dropdown-container {
        border-top-left-radius: 0;
    }
}

.hidden {
    display: none;
}
