<div class="grid">
    <div class="top-bar">
        <input mInput type="text" class="search-input">
        <m-dropdown icon="ph-funnel" dropdownPosition="bottom-left" [template]="filter"></m-dropdown>
        <ng-template #filter></ng-template>

        <div class="pull-right">
            <button mButton *ngIf="showAdd" iconPos="left" icon="ph-plus" text="Add" (click)="handleAddClicked()"></button>
        </div>
    </div>
    <div #rowsContainer class="all-rows-container">
        <div #allRows class="all-rows scrollbar">
            <ng-container *ngFor="let row of rows">
                <div class="row" *ngIf="getRowTemplate('row')" (dblclick)="handleDoubleClick(row.id)">
                    <ng-container *ngTemplateOutlet="getRowTemplate('row'); context: {$implicit: row}"></ng-container>
                </div>
            </ng-container>
        </div>
    </div>
    <div class="footer">
        <button mButton icon="ph-caret-line-left" [disabled]="currentPage == 1" (click)="setPage(1)"></button>
        <button mButton icon="ph-caret-left" [disabled]="currentPage == 1" (click)="setPage(currentPage-1)"></button>
        <div class="currentPage">
            {{ currentPage }}
        </div>
        <button mButton icon="ph-caret-right" [disabled]="currentPage == totalPages" (click)="setPage(currentPage+1)"></button>
        <button mButton icon="ph-caret-line-right" [disabled]="currentPage == totalPages" (click)="setPage(totalPages)"></button>
        <div class="pull-right">
            <m-dropdown [template]="pageSizeDropdown" dropdownPosition="top-left" [text]="pageSize + ''" [showDropdownCaret]="true">
            </m-dropdown>
            <ng-template #pageSizeDropdown>
                <button mButton [text]="pg + ''" (click)="setPageSize(pg)" *ngFor="let pg of pageSizes"></button>
            </ng-template>
        </div>
    </div>
</div>
