.grid {
    height: 100%;
    width: 100%;
    overflow-y: auto;

    display: flex;
    flex-direction: column;

    row-gap: 1rem;
}

.top-bar {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    column-gap: 1rem;
    border: var(--border);
    border-radius: var(--border-radius);
    background: var(--background-1);
}

.footer {
    display: flex;
    flex-direction: row;
    padding: 1rem;
    column-gap: 1rem;
    border: var(--border);
    border-radius: var(--border-radius);
    background: var(--background-1);

    margin-top: auto;
    margin-bottom: 0;
}

.currentPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    min-width: 36px;
    border: var(--border);
    border-radius: var(--border-radius);

    color: var(--background-0);
    background: var(--foreground-0);
}

.search-input {
    width: 300px;
}

.all-rows-container {
    height: 100%;
}

.all-rows {
    overflow-y: auto;
    padding-right: 0.5rem;
}

.row {
    padding: 1rem;
    background: var(--background-0);
    border: var(--border);
    border-radius: var(--border-radius);

    display: flex;
    flex-direction: row;
    align-items: center;
}

.row:not(:last-child) {
    margin-bottom: 1rem;
}
