<div class="books">
    <div class="top-bar">
        <input mInput type="text" class="search-input">
        <m-dropdown icon="ph-funnel" dropdownPosition="bottom-left"></m-dropdown>
    </div>
    <div #booksContainer class="all-books-container">
        <div #allBooks class="all-books">
            <div class="book" *ngFor="let book of books" (dblclick)="handleDoubleClick(book.id)">
                {{book.title}}

                <div class="pull-right d-flex f-row column-gap-1">
                    <button mButton icon="ph-download-simple"></button>
                    <m-dropdown dropdownPosition="bottom-left" icon="ph-dots-three">
                        <button mButton icon="ph-eye" text="View" iconPos="right"></button>
                        <button mButton (click)="book.public = !book.public">
                            <ng-container *ngIf="book.public">
                                Make private
                                <i class="ph ph-lock-open"></i>
                            </ng-container>
                            <ng-container *ngIf="!book.public">
                                Make public
                                <i class="ph ph-lock"></i>
                            </ng-container>
                        </button>
                    </m-dropdown>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <button mButton icon="ph-caret-line-left" [disabled]="currentPage == 1" (click)="setPage(1)"></button>
        <button mButton icon="ph-caret-left" [disabled]="currentPage == 1" (click)="setPage(currentPage-1)"></button>
        <div class="currentPage">
            {{ currentPage }}
        </div>
        <button mButton icon="ph-caret-right" [disabled]="currentPage == totalPages" (click)="setPage(currentPage+1)"></button>
        <button mButton icon="ph-caret-line-right" [disabled]="currentPage == totalPages" (click)="setPage(totalPages)"></button>
        <div class="pull-right">
            <m-dropdown [text]="pageSize + ''" [showDropdownCaret]="true">
                <button mButton text="5" (click)="setPageSize(5)"></button>
                <button mButton text="10" (click)="setPageSize(10)"></button>
                <button mButton text="15" (click)="setPageSize(15)"></button>
                <button mButton text="25" (click)="setPageSize(25)"></button>
            </m-dropdown>
        </div>
    </div>
</div>
