.login-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-panel {
    height: fit-content;
    width: 350px;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    border: var(--border);
    border-radius: var(--border-radius);

    background: var(--background-1);
    padding: 1rem;
}

.actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
