.muse-button:not([aria-disabled]), .muse-icon-button:not([aria-disabled]) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 38px;
    //font-size: 13px;

    border-radius: var(--border-radius);
    border: var(--border);

    &.primary {
        background: var(--background-0);
        color: var(--foreground-0);
    }

    &.accent {
        background: var(--foreground-0);
        color: var(--background-0);
    }

    .ph {
        font-size: 15px;
    }

    &:not([disabled]):hover {
        cursor: pointer;
        filter: brightness(0.9);
    }
    &:not([disabled]):active {
        filter: brightness(0.8);
    }

    &[disabled] {
        cursor: default;
        background: transparent;
        color: var(--background-4);
        border: var(--border-inverse);
    }
}

.muse-icon-button {
    width: 38px;
}

.muse-button {
    white-space: nowrap;
    padding: 0 1rem;

    column-gap: 0.5rem;
}
