/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'JetbrainsMono';
    src: url('assets/fonts/JetBrainsMono-Regular.ttf') format('truetype');
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    height: 100vh;
    width: 100vw;
    font-family: JetbrainsMono, serif;
}

.catppuccin-mocha {
    --background-0: #181825;
    --background-1: #1e1e2e;
    --background-2: #313244;
    --background-3: #45475a;
    --background-4: #585b70;

    --foreground-0: #cdd6f4;
    --foreground-1: #bac2de;
    --foreground-2: #a6adc8;
    --foreground-3: #9399b2;
    --foreground-4: #7f849c;

    --red: #f38ba8;
    --yellow: #f9e2af;
    --orange: #fab387;
    --magenta: #eba0ac;
    --violet: #b4befe;
    --blue: #89dceb;
    --cyan: #94e2d5;
    --green: #a6e3a1;

    --border-radius: 5px;
    --border: 1px solid var(--foreground-0);
    --border-inverse: 1px solid var(--background-0);

    --sidebar-left-padding: 1rem;
    --sidebar-top-padding: 1rem;
    --sidebar-bottom-padding: 1rem;
    --sidebar-right-padding: 1rem;

    --content-top-padding: 1rem;
    --content-right-padding: 1rem;
    --content-bottom-padding: 1rem;
}

.d-flex {
    display: flex;
}

.f-row {
    flex-direction: row;
}

.f-column {
    flex-direction: column;
}

.row-gap-1 {
    row-gap: 1rem;
}

.column-gap-1 {
    column-gap: 1rem;
}

@import 'component-styles/components';

.pull-right {
    margin-left: auto;
    margin-right: 0;
}

.form-row {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
}
