# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v4

      - name: Cache
        uses: actions/cache@v4.0.2
        with:
          # A list of files, directories, and wildcard patterns to cache and restore
          path: ./frontend/node_modules
          # An explicit key for restoring and saving the cache
          key: node-modules

      - name: Setup Node.js environment
        uses: actions/setup-node@v4.0.3
        with:
          node-version: '18.19.1'

      - name: Add angular cli
        working-directory: ./frontend
        run: npm i -g @angular/cli
        # run: npm i -g @angular/cli

      - name: Install node dependencies
        working-directory: ./frontend
        run: npm i

      - name: Build the front-end
        working-directory: ./frontend
        run: ng build --output-path ../docs --base-href /muse/
        
